.header .container {
  justify-content: center;
}

.input-group-text {
  background-color: #212529;
  color: #fff;
  font-weight: bold;
}

.edit,
.delete {
  padding: 0px 6px;
  border-radius: 2px;
}

.edit {
  margin-right: 10px;
}

table {
  text-align: center;
}

.notShowing {
  display: none;
}

.contactForm {
  position: absolute;
  display: flex;
  margin-left: 35rem;
  margin-top: 7rem;
  z-index: 4;
  transform: scale(1.3);
  background-color: rgb(131, 131, 131);
  border-radius: 20px;
  width: 20rem;
}

.hide {
  opacity: 0.4;
}

.contactList {
  width: 80rem;
  margin: auto;
  margin-top: 5rem;
}

.searchBar {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.closeForm {
  display: flex;
  position: absolute;
  margin-left: -1rem;
  margin-top: -1rem;
  transform: scale(1.5);
}

@media (max-width: 720px) and (min-height: 360px) {
  * 

  .header {
    height: 3rem;
  }

  .navbarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar a {
    font-size: 0.6rem;
    margin-top: 0.4rem;
  }

  .navbar Button {
    font-size: 0.5rem;
    text-align: center;
    padding: 0.2rem;
    margin-left: 3rem;
  }

  .listContainer {
    transform: scale(0.5);
    width: 50rem;
  }

  .contactList {
    margin-left: -12rem;
    margin-top: 2rem;
    width: 100vh;
    padding: auto;
  }

  .contactForm {
    transform: scale(0.7);
    margin-left: 3.8rem;
    margin-top: 2rem;
  }
  
}